{% extends 'flatpages/default.html' %}

{% block title %} Search News {% endblock title %}


{% block content %}
<br>
<br>
<h2>Настройте фильтр новостей</h2>
<br>
<br>

<form method="GET">
    {{ filter.form }} <!--Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому-->
    <input type="submit" value="Найти">
</form>
<br>


  <table cellspacing="5" cellpadding="10" border="1" style=" border-spacing : 10px; border-color : blue; border-style: solid;" bgcolor="FFFFFF">
        <tr>
            <td width="400">
                <h5>Название</h5>
            </td>
            <td width="130">
                <h5>Дата</h5>
            </td>
            <td>
                <h5>Содержание</h5>
            </td>
        </tr>
    {% for post in filter.qs %}
        <tr>
            <td>
                <p align="left"><a href="{% url 'news_detail' post.id %}"><u>{{ post|truncatechars:60 }}</u></a></p>
            </td>

            <td>
                <p align="center">{{ post.dateCreation |date:"d M Y" }}</p>
            </td>
            <td>
                <p align="left">{{ post.text|truncatewords:20 }}</p>
            </td>
        </tr>
  {% endfor %}
</table>

<br>
<hr>

{% endblock content %}