
{% for post in filter.qs %}
      <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Содержание
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post }}
                </td>
                <td>
                    {{ post.dateCreation }}
                </td>
                <td>
                    {{ post.category }}
                </td>
                <td>
                    {{ post.author }}
                </td>

                <td>
                    {{ post.text|truncatewords:10 }}
                </td>
            </tr>
        {% endfor %}
        </table>